.registerButton {
    background-color: rgba(255, 210, 98, 1);
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    border-radius: 10px;
    padding: 14px 35px;
    color: rgba(25, 25, 25, 1);
}